#bar {
    width: 300px;
    height: 30px;
    background-color: lightgray;
    margin: 20px;
    position: relative;
}

#filler {
    height: 100%;
    background-color: green;
    position: absolute;
    transition: width 0.5s ease-in-out;
}

#remove {
  color: red;
}

#remove:hover {
  font-weight: bold;
}

#premium {
    color: gold;
}

#div-but {
  width: 100%;
  text-align: center;
}

#reg-but {
  padding:1em;
  text-align: center;
  display:inline-block;
  text-decoration: none !important;
  margin:0 auto;
  border-radius: 10px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid #333;
  margin-bottom: 10px;
  background-color: rgb(153, 255, 0);
  color: black;
}

#reg-but:hover {
  background-color: #333;
  color: white;
}

#div-zdj {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: #c0c0c0;
  padding-bottom: 20px;
  padding-top: 20px;
}

#zdj {
border-radius: 10px;
}