{% extends 'base.html' %} {% block content %}
<form action="{{ url_for('password') }}" method="post" class="login-register" onsubmit="return validatePasswordForm()">
    <input type="password" name="password" id="password" placeholder="New password" required>
    <span id="passwordError" class="error"></span>

    <button type="submit">Change password</button>
</form>

<script>
    function validatePasswordForm() {
        var password = document.getElementById('password').value;

        if (password.length < 6) {
            document.getElementById('passwordError').innerHTML = 'Password must be at least 6 characters.';
            return false;
        } else {
            document.getElementById('passwordError').innerHTML = '';
        }

        return true;
    }
</script>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>  
        {% endfor %}
      {% endif %}
    {% endwith %}
{% endblock %}